.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (width>=768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

body[data-bs-theme="dark"] .jumbotron {
  background: url('../img/dark_cover_back.jpg');
  background-size: cover;
  background-position: center;
}

@media (width<=768px) {
  .jumbotron {
    width: 100vw;
    height: 30vw;
  }
}

@media (width>=768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.list-group-item {
  text-align: left
}

/* Estilos para el contenedor del carrusel */
#productImages {
  max-width: 100%;
}

/* Estilo para las imágenes dentro del carrusel */
#productImages .carousel-inner .carousel-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Estilos para los indicadores del carrusel */
#productImages .carousel-indicators {
  position: static;
  /* Ajustar la posición según tus necesidades */
  margin-top: 10px;
  /* Ajustar la separación superior según tus necesidades */
  text-align: center;
}

/* Estilos para los controles del carrusel (flechas izquierda y derecha) */
#productImages .carousel-control-prev,
#productImages .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo semi-transparente para los controles */
}

/* Estilo para los iconos de las flechas */
#productImages .carousel-control-prev-icon,
#productImages .carousel-control-next-icon {
  background-color: #fff;
  /* Color de fondo de los iconos de flecha */
  border-radius: 50%;
  /* Hacer que los iconos de flecha sean circulares */
  color: #000;
  /* Color del icono de flecha */
  font-size: 24px;
  /* Tamaño del icono de flecha */
  padding: 10px;
  /* Espaciado interior del icono de flecha */
}


#commentsContainer {
  padding: 20px;
  /* Añade un espacio alrededor del contenido de los comentarios */
  border-radius: 10px;
  /* Aplica bordes redondeados */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  /* Agrega un sombreado suave */
}

/* Estilos para los comentarios individuales */
.comment-container {
  margin-bottom: 20px;
  /* Espacio entre comentarios individuales */
}

#p0 {
  padding: 8px;
  margin: 25px;
}

/*tamaño productos relacionados*/
.prodR-container {
  margin-bottom: 10px;
  width: 10px;
  display: flex;
  cursor: pointer;
  white-space: nowrap;
}

.imgPrR {
  width: 200px;
}

.prodR-button {
  display: inline-block;
  /* Hace que los botones se muestren uno al lado del otro */
  margin-right: 10px;/
}